body {
    margin: 0;
    background-color:skyblue;
}
.grass {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 150px;
}

.tree {
    position: fixed;
    bottom: 45px;
    left: 10%;
    width: 150px;
}
.tree1{
position: fixed;
    bottom: 45px;
    left: 80%;
    width: 150px;    
}
.tafree{
position: relative;
    bottom: -530px;
    left: 12.8%;
    width: 150px;    
}